<!doctype html>
<html lang="pl">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
    <title>Menadżer audytów Lewiatan</title>
  </head>
<body class="d-flex flex-column min-vh-100" style="padding-top: 200px;">
     <nav class="navbar navbar-light bg-white fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/shop"><img src="../images/logo.png" class="img-fluid" style="max-width:23%;" ></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Lista Lewiatan</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Spółka regionalna</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Wykonane audyty</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Pozostałe audyty
            </a>
            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
              <li><a class="dropdown-item" href="#">Pokaż pozostałe audyty</a></li>
              <li><a class="dropdown-item" href="#">Pokaż audyty, które możesz wykonać</a></li>
                <li><a class="dropdown-item" href="#">Pokaż zdublowane audyty</a></li>
              <li><a class="dropdown-item" href="#">Wylosuj pozostałe audyty</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<section>
<div class="text-center">
<h2 style="padding-bottom: 50px;">Witaj w menadżerze audytów sieci sklepów Lewiatan!</h2>
</div>
<div class="text-center">
<h5 style="padding-bottom: 50px;">Wczytaj aktualną listę wykonanych audytów:</h5>

{{ form_start(form) }}
    {# ... #}
{{ form_row(form.doneAudits) }}
<br>
<button type="submit" value="save" class="btn btn-primary">Zapisz</button>
{{form_widget(form._token)}}
    </div>



</section>
  <footer class="mt-auto"> 
  <p class="text-center">© 2022<a href="mailto:lubaskamil@gmail.com">Kamil Lubaś</a></p>
  </footer>
  </body>


</html>






